# Port to use for development purpose
PORT=4000
# node env, depends on development or production later
NODE_ENV=development
# SQL root password
MYSQL_ROOT_PASSWORD=key123
# SQL DB name
MYSQL_DATABASE=my_db
#SQL user
MYSQL_USER=my_user
#SQL password
MYSQL_PASSWORD=my_password
# example of database URL based on sql
DATABASE_URL= mysql://my_user:my_password@localhost:3306/my_db
# JWT token for veryfying
JWT_TOKEN=secret123